force-app/main/default/flows/Fielo_RevOps_Create_Contact_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>upsertRelationship</name>
        <label>upsertRelationship</label>
        <locationX>737</locationX>
        <locationY>971</locationY>
        <actionName>FieloRO__RelationshipAPI</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>executionDateTime</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>executiveTitleId</name>
            <value>
                <elementReference>Get_Executive_Title.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resultId</name>
            <value>
                <elementReference>Get_Relationship_Result.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RelationshipAPI</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Has_Plan</name>
        <label>Has Plan</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Executive_Title</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Relationship_Plan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Plan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Result</name>
        <label>Has Result</label>
        <locationX>605</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>upsertRelationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Relationship_Result</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Result</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Title</name>
        <label>Has Title</label>
        <locationX>407</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Relationship_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Title</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Executive_Title</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Title</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Fielo RevOps - Create Contact Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fielo RevOps - Create Contact Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Executive_Title</name>
        <label>Get Executive Title</label>
        <locationX>407</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Title</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FieloRO__RelationshipPlan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Relationship_Plan.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FieloRO__ExecutiveTitle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Relationship_Plan</name>
        <label>Get Relationship Plan</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FieloRO__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FieloRO__RelationshipPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Relationship_Result</name>
        <label>Get Relationship Result</label>
        <locationX>605</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FieloRO__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Met</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ExecutiveTitleDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Relationship_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
