force-app/main/default/flows/Fielo_RevOps_Create_Task_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>upsertRelationship</name>
        <label>upsertRelationship</label>
        <locationX>737</locationX>
        <locationY>971</locationY>
        <actionName>RelationshipAPI</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>executionDateTime</name>
            <value>
                <elementReference>F_Datetime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>executiveTitleId</name>
            <value>
                <elementReference>GetExecTitle.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resultId</name>
            <value>
                <elementReference>GetREsult.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>F_User</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RelationshipAPI</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>HasExecTitle</name>
        <label>HasExecTitle</label>
        <locationX>407</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>GetREsult</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoTitle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExecTitle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NoTitle</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasPLan</name>
        <label>HasPLan</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>GetExecTitle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoPlan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Plan.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NoPlan</label>
        </rules>
    </decisions>
    <decisions>
        <name>HesResult</name>
        <label>HesResult</label>
        <locationX>605</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>upsertRelationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoResult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetREsult</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NoResult</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>F_Datetime</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISNULL({!$Record.FieloRO__Datetime__c}), {!$Flow.CurrentDateTime}, {!$Record.FieloRO__Datetime__c})</expression>
    </formulas>
    <formulas>
        <name>F_User</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(NULLVALUE({!$Record.FieloRO__User__c}, {!$User.Id}), {!$User.Id})</expression>
    </formulas>
    <interviewLabel>Fielo RevOps - Create Task Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fielo RevOps - Create Task Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Plan</name>
        <label>Get Plan</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasPLan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelationshipPlanName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RelationshipPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExecTitle</name>
        <label>GetExecTitle</label>
        <locationX>407</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasExecTitle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ExecutiveTitleName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelationshipPlan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Plan.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ExecutiveTitle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetREsult</name>
        <label>GetREsult</label>
        <locationX>605</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HesResult</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ResultName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExecutiveTitle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetExecTitle.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ExecutiveTitleDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Relationship</stringValue>
            </value>
        </filters>
        <object>Task__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
