force-app/main/default/flows/Fielo_RevOps_Create_Task_Activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>upsertActivityCheckbox</name>
        <label>upsertActivityCheckbox</label>
        <locationX>737</locationX>
        <locationY>863</locationY>
        <actionName>FieloRO.ActivityAPI</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>executionDateTime</name>
            <value>
                <elementReference>F_ExecutionDatetime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>result</name>
            <value>
                <elementReference>$Record.Result__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>typeId</name>
            <value>
                <elementReference>Get_Activity_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>F_User</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ActivityAPI</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>upsertActivityPicklist</name>
        <label>upsertActivityPicklist</label>
        <locationX>473</locationX>
        <locationY>971</locationY>
        <actionName>FieloRO.ActivityAPI</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>executionDateTime</name>
            <value>
                <elementReference>F_ExecutionDatetime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>result</name>
            <value>
                <elementReference>Get_Result_Id.ConsiderDone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resultId</name>
            <value>
                <elementReference>Get_Result_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>typeId</name>
            <value>
                <elementReference>Get_Activity_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>F_User</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ActivityAPI</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>HasPlan</name>
        <label>HasPlan</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Activity_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoPlan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Activity_Plan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NoPlan</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasType</name>
        <label>HasType</label>
        <locationX>407</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>ResultType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Activity_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NoType</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResultType</name>
        <label>ResultType</label>
        <locationX>605</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>upsertActivityCheckbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Checkbox</defaultConnectorLabel>
        <rules>
            <name>Picklist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FieloRO__ResultName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Result_Id</targetReference>
            </connector>
            <label>Picklist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>F_ExecutionDatetime</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISNULL({!$Record.FieloRO__Datetime__c}), {!$Flow.CurrentDateTime}, {!$Record.FieloRO__Datetime__c})</expression>
    </formulas>
    <formulas>
        <name>F_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>F_User</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(NULLVALUE({!$Record.FieloRO__User__c}, {!$User.Id}), {!$User.Id})</expression>
    </formulas>
    <formulas>
        <description>IsNew</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Fielo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fielo RevOps - Create Task Activity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Activity_Plan</name>
        <label>Get Activity Plan</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasPlan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ActivityPlanName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActivityPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Activity_Type</name>
        <label>Get Activity Type</label>
        <locationX>407</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityPlan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Activity_Plan.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ActivityTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActivityType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Result_Id</name>
        <label>Get Result Id</label>
        <locationX>473</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>upsertActivityPicklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Activity_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ResultName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActivityTypeDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Activity_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activity</stringValue>
            </value>
        </filters>
        <object>Task__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
